<app-header></app-header>
<!-- style binding -->
<div>
  <h1>style-binding</h1>
  <h2 [style.color]="'orange'">Style binding</h2>
  <h2 [style.color]="hasError ? 'red' : 'green'">Style binding 2</h2>
  <h2 [style.color]="color">Style binding 3</h2>
  <h2 [ngStyle]="multipleStyle">Style binding</h2>
</div>

<!-- event-binding  -->
<div>
  <h1>event-binding</h1>
  <button (click)="onClick()">change name</button><br />
  <button (click)="name = 'laddoo'">change name 2</button><br />
  <button (click)="name = $event.type">change name 3</button><br />
  <h3>Welcome {{ name }}</h3>
</div>

<!-- template reference variable -->
<div>
  <h1>template reference variable</h1>
  <input #myInput type="text" /><br />
  <button (click)="data = myInput.value">get input data</button><br />
  <!-- <button (click)="getData(#myInput.value)">get input data2</button> -->
  {{ data }}
</div>

<!-- two-way binding -->
<div>
  <h1>two-way binding</h1>
  <input [(ngModel)]="val" type="text" /> <br />
  {{ val }}
</div>

<!-- ng-If -->
<div>
  <h1>ngIf</h1>
  <h3 *ngIf="true">Anuj</h3>
  <h3 *ngIf="displayName; else elseBlock">Kumar</h3>
  <h3 *ngIf="displayName; then ifBlock; else elseBlock">Kumar2</h3>

  <ng-template #ifBlock>
    <h3>If wala Block</h3>
  </ng-template>
  <ng-template #elseBlock>
    <h3>else wala block</h3>
  </ng-template>
</div>

<!-- ng-Switch -->
<div>
  <h1>ngSwitch</h1>
  <div [ngSwitch]="color">
    <h2 *ngSwitchCase="'red'">You picked red</h2>
    <h2 *ngSwitchCase="'blue'">You picked blue</h2>
    <h2 *ngSwitchCase="'green'">You picked green</h2>
    <h2 *ngSwitchDefault>Pick again</h2>
  </div>
</div>

<!-- ng-For -->
<!-- index as i, odd as o, first as f, last as l, even as e -->
<div>
  <h1>ngFor</h1>
  <div *ngFor="let color of colors; index as i">
    <h1>{{ i }} {{ color }}</h1>
  </div>
</div>

<!-- component interaction -->
<div>
  <h1>component interaction</h1>
  <h2>{{ message }}</h2>
  <app-test (childEvent)="message = $event" [parentData]="name"></app-test>
</div>

<!-- forms -->
<div>
  <h1>Basic form or template-driven form</h1>
  <br />
  <form #myName="ngForm" (ngSubmit)="getFormdata(myName.value)">
    <input type="text" placeholder="Enter your name" name="name" ngModel />
    <br /><br />
    <input type="email" placeholder="Enter your email" name="email" ngModel />
    <br /><br />
    <input
      type="password"
      placeholder="Enter your password"
      name="password"
      ngModel
    />
    <br /><br />
    <button type="submit">submit</button>
    <!-- by default type is submit -->
  </form>

  <ul>
    <li>{{ formData.name }}</li>
    <li>{{ formData.email }}</li>
    <li>{{ formData.password }}</li>
  </ul>
</div>

<div>
  <h1>BootStrap</h1>
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Simple">
      <ng-template ngbPanelContent>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
        skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
        helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
        proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
        beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS.
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>&#9733; <b>Fancy</b> title &#9733;</span>
      </ng-template>
      <ng-template ngbPanelContent>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
        skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
        helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
        proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
        beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Disabled" [disabled]="true">
      <ng-template ngbPanelContent>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
        skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
        helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
        proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
        beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS.
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>

<div>
  <h1>Material UI</h1>
  <div>
    <h3>Slider</h3>
    <mat-slider min="1" max="100" step="1" value="50"></mat-slider>
  </div>
  <div>
    <h3>Button</h3>
    <section>
      <div class="example-label">Flat</div>
      <div class="example-button-row">
        <button mat-flat-button>Basic</button>
        <button mat-flat-button color="primary">Primary</button>
        <button mat-flat-button color="accent">Accent</button>
        <button mat-flat-button color="warn">Warn</button>
        <button mat-flat-button disabled>Disabled</button>
        <a mat-flat-button href="https://www.google.com/" target="_blank"
          >Link</a
        >
      </div>
    </section>
  </div>
</div>

<div>
  <h1>Pipes</h1>
  <h3>Normal -> {{ title }}</h3>
  <h3>lower title -> {{ title | lowercase }}</h3>
  <h3>upper title -> {{ title | uppercase }}</h3>
  <h3>Normal date -> {{ date }}</h3>
  <h3>piped date -> {{ date | date }}</h3>
  <h3>fulldate -> {{ date | date: "fullDate" }}</h3>
  <h3>{{ "Anuj Kumar" | slice: 1:8 | uppercase }}</h3>
  <h3>{{ "anuj kumar sharma" | titlecase }}</h3>
  <h3>{{ multipleStyle | json }}</h3>
  <h3>{{ 20 | currency: "INR" }}</h3>
  <h3>{{ 2.3 | number: "3.3" }}</h3>
  <h3>20 USD = {{ 20 | usdToInr: 75:11 }} Rupees</h3>
</div>

<div>
  <h1>Reactive Forms</h1>
  <form
    [formGroup]="myReactivForm"
    (ngSubmit)="getFormdata2(myReactivForm.value)"
  >
    <input type="text" formControlName="user" /><br />
    <span
      [style.color]="'red'"
      *ngIf="userValidator && userValidator.invalid && userValidator.touched"
      >This field is not correct</span
    >
    <br />
    <input type="password" formControlName="password" /><br />
    <span
      [style.color]="'red'"
      *ngIf="
        passwordValidator &&
        passwordValidator.invalid &&
        passwordValidator.touched
      "
      >This field is not correct</span
    >
    <br />
    <button [disabled]="myReactivForm.invalid">submit</button>
  </form>
</div>

<div>
  <h1>Directives</h1>
  <h3>{{ title }}</h3>
  <h3 appRedTag>{{ title }}</h3>
</div>
