nav {
  background-color: #343635;
}

nav img {
  width: 80px;
}

nav ul {
  list-style-type: none;
  float: right;
}

nav ul li {
  padding: 15px;
  display: inline-block;
  margin: 5px;
}

nav ul li a {
  font-size: large;
  text-decoration: none;
  color: white;
}
