<!-- <div>
    To enable this uncomment in app.routing.module also
  <h1>Routing</h1>

  <a routerLink="">Home</a> <br />
  <a routerLink="about">About</a> <br />
  <a routerLink="user">User</a> <br />
  <br /><br />

  <a routerLink="user/1">Naseem</a> <br />
  <a routerLink="user/2">Anuj</a> <br />
  <a routerLink="user/5">Abhishek</a> <br />
  <router-outlet></router-outlet>
</div> -->

<div>
  <h2>routing module</h2>
  <ul>
    <li><a routerLink="list">list</a></li>
    <li><a routerLink="login">login</a></li>
  </ul>
  <router-outlet></router-outlet>
</div>
